:root {
  text-align: center;
  color: white;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(0, 5, 1);
}
.header {
  background-color: rgb(0, 48, 32);
  padding: 1.5rem 0 0 0;
}
.status-bar {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  background-color: rgb(40, 61, 0);
  margin: 1rem 0 7rem 0;
}
.add-book {
  background-color: rgb(90, 44, 0);
  color: white;
  font-size: 1.5rem;
}
.add-book:hover {
  transform: scale(1.1);
}
.status-bar > p,
.status-bar > button {
  border: 3px solid rgb(94, 0, 0);
  padding: 1rem;
}
.card-container {
  width: fit-content;
  max-width: 70%;
  margin: 0 auto;
  border: 3px solid black(51, 51, 0);
  display: flex;
  flex-wrap: wrap;
}
.card {
  border: 3px solid rgb(121, 0, 0);
  font-size: 2rem;
}
.title {
  background-color: rgb(0, 70, 55);
  padding: 0.1rem;
}
.author {
  padding: 0.5rem;
  font-size: 1.5rem;
  background-color: rgb(70, 46, 0);
}
.pages {
  padding: 0.5rem 0 2rem 0;
  font-size: 1.5rem;
}
.read {
  padding: 0.5rem;
  font-size: 1.2rem;
  background-color: rgb(31, 20, 0);
}
.remove {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  background-color: rgb(184, 156, 106);
  border: none;
  color: rgb(129, 0, 0);
  transform: scale(0.9);
}
.remove:hover {
    transform: scale(1);
}
.menu {
  margin: 0 auto;
  width: 40%;
  background-color: rgb(90, 44, 0);
  border-radius: 50px;
  border: 5px solid rgb(0, 70, 55);
  padding: 1rem;
  position: absolute;
  top: 10%;
  left: 28%;
  display: none;
}
.form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
.input-heading {
  margin-bottom: 1rem;
}
.form > label {
  text-align: right;
  font-size: 1.1rem;
}
.buttons {
  display: flex;
  justify-content: center;
}
.buttons > button {
  padding: 0.5rem;
  margin: 0.5rem;
}
